[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
rq = "*"
ffmpeg-python = "*"
yt-dlp = "*"
tenacity = "*"
requests = "*"
rq-scheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
