black==21.9b0
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
croniter==1.0.15
Deprecated==1.2.13
ffmpeg-python==0.2.0
future==0.18.2
idna==3.3
mutagen==1.45.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
pycryptodomex==3.11.0
python-dateutil==2.8.2
redis==4.0.2
regex==2021.9.30
requests==2.26.0
rq==1.10.0
rq-scheduler==0.11.0
six==1.16.0
tenacity==8.0.1
tomli==1.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
websockets==10.1
wrapt==1.13.3
yt-dlp==2021.11.10.1
