@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

canvas {
    -webkit-box-shadow: 0px 10px 28px 0px rgba(196, 203, 245, 1);
    -moz-box-shadow: 0px 10px 28px 0px rgba(196, 203, 245, 1);
    box-shadow: 0px 10px 28px 0px rgba(196, 203, 245, 1);
}

.card-shadow {
    -webkit-box-shadow: 0px 5px 12px 0px rgba(196, 203, 245, 1);
    -moz-box-shadow: 0px 5px 12px 0px rgba(196, 203, 245, 1);
    box-shadow: 0px 5px 12px 0px rgba(196, 203, 245, 1);
}
.card-round {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 16px;
}

strong {
    text-transform: capitalize;
}

.container-fluid {
    background-color: #e9ecef;
}

footer.page-footer {
    background-color: rgb(39, 38, 44);
    border-top: 5px solid rgb(56, 50, 65);
}

footer a {
    color: rgb(31, 199, 212);
}
.container-fluid-dark {
    background-color: rgb(39, 38, 44);
}

header.pancake-header {
    background-color: rgb(39, 38, 44);
    border-bottom: 2px solid rgb(56, 50, 65);
}
.react-player {
    cursor: pointer;
    background: #20002c; /* fallback for old browsers */
    background: -webkit-radial-gradient(
        circle,
        #dae3f1,
        rgba(196, 203, 245, 1)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(
        circle,
        #dae3f1,
        rgba(196, 203, 245, 1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 0;
    margin-bottom: 1rem;
}

span.navbar-brand a {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.35em;
    text-decoration: none;
}
span.navbar-brand a:hover {
    color: white;
}

a.nav-link {
    color: white;
    font-size: 1.15em;
}
a.nav-link:hover {
    color: lightblue;
}

button.btn {
    border-radius: 16px;
}

.border-danger {
    border: 2px solid;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(146, 1, 0, 0.3);
    -moz-box-shadow: 0px 5px 12px 0px rgba(146, 1, 0, 0.3);
    box-shadow: 0px 5px 12px 0px rgba(146, 1, 0, 0.3);
}

.spinner-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
